{% extends "base.html" %}
{% block conteudo %}

<div class="container-exp">

  <h1>Experiência Acadêmica </h1>

  <hr>
  <br>
  <br>
  <div class="coluna-exp"> 
    
        {% for experiencia in experiencias %}
        <div class="experiencia">
          <img src="{{ experiencia.imagem }}" alt="{{ experiencia.alt }}">
          <h2>{{ experiencia.titulo }}</h2>
        </div>
        {% endfor %}

  </div>
</div>
    

<div class="container-exp">

  <h1>Experiência Profissional</h1>

  <hr>
  <br>
  <br>
  
    <div class="coluna-exp">
      {% for experiencia in experiencias2 %}
      <div class="experiencia2">
          <img src="{{ experiencia.imagem }}" alt="{{ experiencia.alt }}">
          <h2>{{ experiencia.titulo }}</h2>
      </div>
      {% endfor %}
    </div>
</div>




    

{% endblock %}