{% extends "base.html" %}
{% block conteudo %}

<div class="container-sobre">

  <h1>Experiência </h1>

  <hr>
  <br>
  <br>
  <div class="colunas-exp-container">
    <div class="coluna-exp">
        {% for experiencia in experiencias %}
        <div class="experiencia">
          <img src="{{ experiencia.imagem }}" alt="{{ experiencia.alt }}">
          <h2>{{ experiencia.titulo }}</h2>
        </div>
        {% endfor %}
    </div>
    <div class="coluna-exp">
      {% for experiencia in experiencias2 %}
      <div class="experiencia2">
          <img src="{{ experiencia.imagem }}" alt="{{ experiencia.alt }}">
          <h2>{{ experiencia.titulo }}</h2>
      </div>
      {% endfor %}
    </div>
  </div>
</div>





{% endblock %}