
{% extends 'base.html' %}
{% block conteudo %}

<body>
    <div>
        <h1 class="texto-esquerda"> Olá, sou Katiane Soares </h1> 
    </div>
         
      <div class="coluna">
        <a class="img-eu">
            <img src="../static/img/eu.jpeg" alt="eu"></a>
        
        <a class="texto-direita"><h1>Estudante de Desenvolvimento de Software Multiplataforma e curiosa por natureza</h1></a>
      </div>

    <!-- <div>
        <div class="img-dir">
        <img srcset="../static/img/imagemhome200.jpg, static/img/imagemhome500.jpg 500w" alt="imagemhome"
        sizes="(max-width: 600px) 250px, 400px"></div>
    </div>    -->
    </div>   
   
</body>
{% endblock %}