
{% extends 'base.html' %}
{% block conteudo %}


<div class="container-sobre">
  <div>
    <h1 class="texto-esquerda"> Olá, sou Katiane Soares </h1> 
  </div>
     
<div class="coluna">
    <a class="img-eu">
        <img srcset="../static/img/eu200.jpg, static/img/eu500.jpg 500w" alt="eu" style="width: 25vw;"
        sizes="(max-width: 600px) 150px, 400px">
    </a>
    <a class="texto-direita">Estudante de Desenvolvimento de Software Multiplataforma e curiosa por natureza</a>
</div>

    
</div>  
   
</body>
{% endblock %}