{% extends "base.html" %}
{% block conteudo %}
<div class="container">
      
    <div class="projeto2">
      <div>
      <h2 class="projeto-title"> UNES (1º Semestre - 01/2023) </h2>
      <br>
      <a href="https://github.com/Katianefatec/desafio3-devweb.git" target="_blank">
        <img src="/static/img/desafio_proj.png" alt="Imagem Desafio Unes">
      </a>  
      <br>     
            <div class="projeto-description">              
              <p>Desenvolvido para a disciplina de Desenvolvimento Web, ministrada no 1º semestre do curso de do curso de Desenvolvimento de Software Multiplataforma da FATEC.</p>
              <p>O objetivo do projeto era desenvolver um site de uma universidade, com as seguintes interfaces: Home, Quem Somos, Contatos e Usuários.</p>
              <p>Tecnologias utilizadas: HTML, CSS, Python, MySql.</p>
            </div>
           
        </div>
    </div>
    <br>
    <hr>
    <br>
    
              
    <div class="projeto2">    
        <div>
          <h2 class="projeto-title">Projeto Integrado (1º Semestre - 01/2023) </h2>   
          <br> 
          <a href="https://github.com/api-fatec-primeiro-semestre/api-primeiro-semestre" target="_blank">
            <img src="/static/img/COVID_proj.png" alt="Imagem Projeto API Covid Longa">
          </a>      
          <br>
          <div class="projeto-description">
            <p> Cliente: FATEC - São José dos Campos </p>
            <p>Projeto do 1º semestre do curso de Desenvolvimento de Software Multiplataforma da FATEC.
            de São José dos Campos – SP. </p>
            <p> Este projeto teve o objetivo de coletar e analisar dados relacionados à Covid Longa a partir do sistema Datasus (Tabnet)</p> 
            <p> Fiz parte do time de desenvolvimento do projeto, colaborando principalmente com as pesquisas e criação das planilhas.</p>
            <p> Tecnologias utilizadas: Python, HTML, CSS, Bootstrap e Flask. </p>
          </div>  
        </div>     
          
              
    </div>
    <br>
    
    <hr>
    
    <br>
    <div class="projeto2">  
      <div>   
      <h2 class="projeto-title">Portifólio Digital (1º Semestre - 01/2023) </h2>
      <br>         
      <a href="https://github.com/Katianefatec/Portifolio.git" target="_blank">
        <img src="/static/img/portifolio.png" alt="Imagem Portfólio - Design Digital">
      </a>
      <br>
              
        <div class="projeto-description">
          <p>Desenvolvido para a disciplina de Design Digital, ministrada no 1º semestre do curso de do curso de Desenvolvimento de Software Multiplataforma da FATEC.</p>
          <p>Tem por objetivo incluir informações sobre minha formação e experiência profissional, além de apresentar de maneira organizada os trabalhos realizados por mim.</p>
          <p> Tecnologias utilizadas: Python, HTML, CSS, Bootstrap e Flask. </p>
        </div>      
  </div>
  </div>
  <br>
  <hr>
    <br>
    
              
    <div class="projeto2">    
        <div>
          <h2 class="projeto-title"> Grupo World Beauty (WB) (2º Semestre - 02/2023) </h2> 
          <br>
          <a href="https://github.com/Katianefatec/ativ5-TP.git" target="_blank">
            <img src="/static/img/WB.png" alt="Imagem Projeto WB">
          </a>         
          <br>
          <div class="projeto-description">
            
            <p> O propósito deste projeto era criar um sistema de cadastro de clientes, que armazenasse informações detalhadas para facilitar a comunicação com os clientes e impulsionar as vendas.</p> 
            <p> Tecnologias utilizadas: TypeScript, JavaScript, Node.JS, React, HTML, CSS, Bootstrap, MySql, Axios e Prisma. </p>
          </div>  
        </div>     
          
              
    </div>
    <br>
   
    <hr>
    
    <br>
    <div class="projeto2">   
      <div>    
      <h2 class="projeto-title">Projeto Integrado (2º Semestre - 02/2023)</h2>
      <br>       
      <a href="https://github.com/FocusQuest/FocusQuestAPI.git" target="_blank">
        <img src="/static/img/api-2sem.png" alt="Imagem API2">
      </a>
      <br>    
      
        <div class="projeto-description">
        <p> Cliente: FATEC - São José dos Campos </p>
        <p>Projeto do 2º semestre do curso de Desenvolvimento de Software Multiplataforma da FATEC de São José dos Campos – SP. </p>
        <p> O projeto tinha como objetivo a criação de uma aplicação para gerenciamento de chamados, voltada para instituições de ensino superio.</p>
        <p> Fiz parte do time de desenvolvimento do projeto, colaborando principalmente com a criação do frontend.</p>
        <p> Tecnologias utilizadas: TypeScript, JavaScript, Node.JS, React, HTML, CSS, Bootstrap, MySql, Axios e Prisma.</p>        
      </div>
    </div>
  </div>
  <br>
  <hr> 
  <br>
  <div class="projeto2">    
    <div>
      <h2 class="projeto-title">Projeto Integrado (3º Semestre - 01/2024) </h2>   
      <br> 
      <a href="https://github.com/equipe-javali/API_3.git" target="_blank">
        <img src="/static/img/ctrlA.png" alt="Imagem Projeto API CtrlA">
      </a>      
      <br>
      <div class="projeto-description">
        <p> Cliente: Youtan </p>
        <p>Projeto do 3º semestre do curso de Desenvolvimento de Software Multiplataforma da FATEC
        de São José dos Campos – SP. </p>        
        <p> Este projeto teve como objetivo a criação de uma aplicação web que visa facilitar o manuseio dos ativos de uma empresa, sendo acompanhar quem atualmente possui o ativo, acompanhar manutenções do ativo, entre outros. </p> 
        <p> Atuei como Product Owner, intermediando a comunicação entre o cliente e o time de desenvolvimento. Nessa função, elaborei a documentação necessária, tais como: backlogs do produto e das sprints, DOR, DOD, e realizei os testes de aceitação.</p>
        <p> Além disso, fiz parte do desenvolvimento do projeto, colaborando com a criação dos componentens de notificação e das interfaces de manutenção, histórico do ativo e relatórios.</p>
        <p> Tecnologias utilizadas:  Figma, Git, GitHub, TypeScript, Java, Jira, PostgreSQL, Supabase, React, Spring. </p>
        <p> Soft Skills desenvolvidas: Trabalho em Equipe,  persistência, resiliência e designação de responsabilidades. </p>
        <p> Hard Skills adquiridas: Adquiri conhecimentos em backend (Java), aprimorei meus conhecimentos em frontend (React, TypeScript e bibliotecas), aprendi a usar o PostgreSQL e o Supabase.</p>
        <p> Contribuições pessoais e aprendizado: Durante o semestre tivemos contratempos por falta de comunicação e tivemos que aprender a relevar as desavenças pessoais para focar no profissional. Na 2ª sprint tivemos problemas com a entrega porque alguns colaboradores estavam fazendo a mesma tarefa e uma outra tarefa ficou com uma pessoa que estava com dificuldade, porém não pediu ajuda. Nessa ocasião, eu tentei manter a calma e focar na solução. Durante a sprint review eu tentei conversar com a equipe para que essa falha não ocorresse mais. Na 3ª e na 4ª sprint conseguimos melhorar esses pontos e eu aprendi a confiar mais no time, sem centralizar o trabalho.</p>
      
      </div>  
    </div> 
  </div>
  <br>
  <hr> 
  <br>
  <div class="projeto2">    
    <div>
      <h2 class="projeto-title">Projeto Integrado (4º Semestre - 02/2024) </h2>   
      <br> 
      <a href="https://github.com/equipe-javali/API_4.git" target="_blank">
        <img src="/static/img/tecsus.png" alt="Imagem Projeto API CtrlA">
      </a>      
      <br>
      <div class="projeto-description">
        <p> Cliente: Tecsus </p>
        <p>Projeto do 4º semestre do curso de Desenvolvimento de Software Multiplataforma da FATEC
        de São José dos Campos – SP. </p>        
        <p> Este projeto teve como objetivo desenvolver um sistema onde os dados coletados pelos sensores de direção e velocidade do vento, índice pluviométrico, umidade, temperatura e pressão devem ser recepcionados, tratados e exibidos em um portal capaz de disponibilizar relatórios, dashboards e demonstrar os conceitos matemáticos envolvidos nos cálculos dos parâmetros, bem como relacionar a importância do monitoramento ambiental como ferramenta para evitar desastres naturais através da geração de alertas. </p>
        <p> Neste projeto colaborei com a criação do front-end, iniciando a estrutura das pastas, criação das páginas de cadastro, listagem e atualização de estações, sensores e alertas, além da estrutura da página Dashboard e criação dos gráficos de umidade e temperatura.</p>
        <p> Tecnologias utilizadas:  Figma, Git, GitHub, TypeScript, Taiga, PostgreSQL, Neon Tech, React, Express, Swagger </p>
        <p> Soft Skills desenvolvidas: Comunicação, adaptabilidade, tolerância e inteligência emocional. </p>
        <p> Hard Skills adquiridas: Aprimorei meus conhecimentos em backend (TypeScript), em frontend (React, TypeScript e bibliotecas), aprendi a usar o Taiga, o Neon Tech. Além disso, aprendi alguns conceitos sobre a cultura DevOps, com aprofundamento nos testes unitários</p>
        <p> Contribuições pessoais e aprendizado: Nesse projeto eu percebi que estava mais tranquila em relação ao trabalho dos demais e controlei bem minha ansiedade com as entregas.</p>
      
      </div>  
    </div>  
    
      
          
</div>
<br>
<br>   
</div>
{% endblock %}