{% extends 'base.html' %}
{% block conteudo %}

<body>
   <div class="container-sobre">

   <h1> Sobre mim</h1>
   <hr>
   <br>   
   <br>
   <div class="coluna-sobre">
         <a class="img-esq">
            <img srcset="../static/img/familia2.jpg" alt="familia"></a>
         
         <a class="texto-direita-sobre">
         Tenho  {{idade_usuario}} anos, nasci em São Paulo, fiz faculdade em Presidente Prudente (2001-2005) e desde 2013 moro em São José dos Campos. Cidade esta que conquistou meu coração. 
         Sou casada e tenho uma filha de {{idade_filha}} anos, que é a minha motivação para evoluir e ser melhor a cada dia. Adoro passar tempo com minha família e sempre que possível vamos a lugares novos para conhecer e se divertir.
         Para manter a mente e o corpo sãos pratico musculação e funcional.          
      </a>        
      </div>
   </br>   

   <div class="coluna-sobre-baixo">
      
      
      <a class="texto-esquerda-sobre">
      
      Acredito que estamos em constante evolução e para isso busco conhecimento em diversas áreas.
      Foi uma dessas buscas que me trouxe a esse desafio de cursar Desenvolvimento de Software Multiplataforma, na FATEC. 
      E tenho certeza que é apenas o começo de uma grande jornada!</a>

      <div class="img-baixo">
         <img srcset="../static/img/caminhada200.jpg 200w, static/img/caminhada500.jpg 500w" alt="caminhada"
         sizes="(max-width: 600px) 150px, 400px"></a> 
   </div>
</div>  
</div>
</br>
</br>
</br>       
   
</body>
{% endblock %}