    
body {
  background: linear-gradient(180deg, rgba(15, 62, 82, 0.77), rgba(96, 167, 197, 0) 100%);  
  margin: 10% 12%;
  min-height: 100vh;
  width: 75%;
}
footer {
    /* position: static; */
    text-align: center;
    /* line-height: 20px; */
    color:black;
    /* bottom: 0;
    width: 100%;
    margin-top: 30px;
    padding: 10px; */
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

footer .img-footer img {
    width: 40px; 
    margin-right: 5px;
    /* margin-bottom: 5px; */
  }

footer .name {
    display: flex;
    align-items: center;
}

h1 {
    color:rgb(59, 31, 45);
    font-size: 40px;
    text-align: center;
}

h2 {    
    color:rgb(59, 31, 45);
    text-align: center;
    }

h3 {   
    color:rgb(59, 31, 45);
    text-align: center;
    }


.texto-esquerda {
    color:rgb(59, 31, 45);
    font-size: 45px;
    text-align: center;
    width: 77vw;
    height: 70%;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 80px; */
    }

.texto-direita {
    color:rgb(59, 31, 45);
    font-size: 35px;
    text-align: center;
    width: 60vw;
    height:70%;   
  }

.texto-direita-sobre {
    color:rgb(59, 31, 45);
    font-size: 25px;
    text-align: justify;
    width: 70vw;
    height:60%;   
    /* flex: 0 0 60%; */
  }

.texto-esquerda-sobre {
    color:rgb(59, 31, 45);
    font-size: 25px;
    text-align: justify;
    width: 200vw;
    height:50%;
    margin-right: 60px;
    margin-left: -90px;
    
    
     
      }

.img-baixo{
    
    /* width: 40%; */
    /* height:200vw; */
    flex: 0 0 38%;
    margin-top: 5px;
    /* margin-right: 30px; */
    
   
  }


.img-baixo img {
    width: 100%;
    
    border-radius: 2%;
  }

.img-esq img {
    width: 60%;
    
    border-radius: 2%;
  }
  
.img-esq{
    
    width: 50vw;
    height:30%; 
    /* flex: 0 0 30%; */
    border-radius: 50%;
  }
.coluna-sobre {
    display: flex;
    flex-direction: row;
    align-items: center;
}  

.coluna-sobre-baixo {
  display: flex;
  flex-direction: row;
  align-items: left;
  margin-top: 60px;
  
}  


p {
    color:rgb(59, 31, 45);
    font-size: 20px;
    }

img {
    display: block;
    margin: 0 auto;
    width: 300px;
}
.colunas-container {
    display: flex;
    flex-wrap: wrap;
  
  }

.coluna {
    /* flex-basis: 50%; */
    /* box-sizing: border-box; */
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

.colunas-exp-container{
    display: flex;
    flex-direction: column;     
    margin-right: 20px;
}
.coluna-exp {
  
    flex-basis:50%;
    margin-left: 0px;
    
}

.coluna-exp img {
    flex-shrink: 0;
    width: 100px; 
    height: auto;
    margin-right: 10px;
  }
  
.coluna-exp h2 {
    margin: 0;
  }

.experiencia {
  display: flex;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: 5px;
  }

.coluna-exp .experiencia{
  justify-content: flex-start;
  

}

.coluna-exp .experiencia img {
  height: 8vw;
  width: 10vw; 
  margin-right: 20px;
}

.coluna-exp .experiencia2{
  justify-content: flex-start;
  

}

.coluna-exp .experiencia2 img {
  height: 8vw;
  width: 10vw; 
  margin-right: 20px;
}
.experiencia2 {
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: 5px;
  }

.coluna img {
    width: 70%;
    height: auto;
    margin-right: 15px;
  }

.coluna p {
    margin: 0px;
  }


.img-eu img {
    width: 100%;
    height: auto;
    border-radius: 5%;
    margin-bottom: 20px;
  }

.img-eu{
    max-width: 30%;
    border-radius: 20px;
    }   
    
.img-dir{
    display: block;
    width: 120vw;
    height:80%; 
}


/* .img-baixo{
    display: block;
    width: 120%;
    height:80%;
}

img-baixo img{
  
} */


.divider {
        border-top: 1px solid rgb(26, 10, 18); 
        margin-bottom: 80px;
      }
      

.divider2 {
        border-top: 1px solid rgb(26, 10, 18); 
        margin-top: 80px;
      }
      
/* .logo {
    order: -1;
    margin-right: auto;
    width: 10vw;
    } */ */

.projeto {
      border: 1px solid #000;
      display: flex;
      align-items: center;
      justify-content: center;
      
      
      margin-bottom: 20px;
  }

.projeto2 {
    border: 1px solid #000;
    background-color: rgba(238, 242, 243, 0.77); 
    padding: 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-bottom: 20px;
}

.projeto-description {
  text-align: justify;
  margin-left: 20px;
  
  
}
  
.projeto img {
      width: 35vw;
      height: 40%;
  }

.projeto2 img {
  width: 35vw;
  height: 20vw;
}
  
.myImage {
    height: 500px;
    width: auto;
  }
  
.container {
    width: 95%;
    margin-left: 20px;
    
    
  }
.container-sobre {
  width: 95%;  
}

.container-exp {
  width: 95%;  
  border: 1px solid #000; /* Adiciona uma borda preta */
  background-color: rgba(238, 242, 243, 0.77); 
  padding: 20px; /* Adiciona algum espaço interno */
  margin-bottom: 40px;
  border-radius: 8px;
}

#sidebar {
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background-color: #2d2d46;
  color: white;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  
}



.list-unstyled {
display: flex;
padding-left: 0px;
list-style: none;
margin: 0;
padding: 0;
flex-grow: 1;
justify-content: center;
align-items: center;

}

.list-unstyled a {
color: white;
text-decoration: none;
padding: 0px 15px;
/* display: block; */
}

.list-unstyled a:hover {
background-color: #495057;
}

.list-unstyled img {
  /* Ajuste esses valores conforme necessário */
  width: 10%;
  /* height: 10vw; */
  /* margin-left: -30px; */
  /* margin-right: auto; */
  
}

.sidebar-fixed {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

.hamburger {
  display: none;
  position: fixed;
  top: 12px;
  left: 10px;
  z-index: 9999;
  
}

#sidebar.active {
  /* código para exibir o menu lateral */
  transform: translateX(0);
  justify-content: flex-start;
}

@media (max-width: 768px) {

  #sidebar {
    /* position: fixed; */
    /* top: 0; */
    flex-direction: column;
    left: 0;  
    height: 50px;    
    /* transition: left 0.5s;  
     */
  }

  #sidebar.active {
    left:0;
    width: 20%;
    height: 100%;

  }

  #sidebar.active img{
    display: none;
    

  }

  
  #sidebar:not(.active) {
    width: 100%;  /* Faz a faixa horizontal do menu ocupar toda a largura */
    height: 50px;  /* Ajuste a altura conforme necessário */
  }

  #sidebar:not(.active)  img {
    display: none;  /* Esconde a imagem do logo */
  }

  #sidebar:not(.active) .list-unstyled a {
    display: none;  /* Esconde os links quando o menu lateral está inativo */
  }

  .list-unstyled {
    flex-direction: column; 
    /* padding-bottom: 15px; */
  }

  

  .overlay {
    transition: opacity 0.3s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
  }

  .overlay.active {
    display: block;  /* Mostra o overlay quando a classe .active é adicionada */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);  /* Overlay semi-transparente */
    opacity: 1;
    visibility: visible;
  }


  .hamburger {
    display: flex;
  }

  
}
    
 

@media screen and (max-width: 600px) {
  body {
    margin-left: 8%;
    margin-top: 15%;
    min-height: 100vh;
    width: 75%;
  }
  h1 {
      font-size: 30px;
        text-align: center;
    }
.texto-esquerda {
      font-size: 25px;
      text-align: left;
      width: 70vw;     
      margin-left: 50px;
    }


.coluna {
      flex-direction: column;
      align-items: flex-start;
      }
        
.coluna-sobre {
  flex-direction: column;
  align-items: flex-start;
  }

.coluna-sobre-baixo {
  flex-direction: column;
  align-items: flex-start;
  }
.img-esq{
      width: 70VW;
      margin-bottom: 10px;
    } 
.texto-direita {
      font-size: 25px;
      text-align: center;
      width: 85vw;
    }
    
.texto-direita-sobre {
      font-size: 25px;
      text-align: center;
      width: 85vw;
    }
    
.img-eu{
      margin-left: 115px;
      width: 70vw;
      /* margin-bottom: 10px; */
    } 

.container-exp {
  margin-top: 10px;
  border-radius: 5px;
}
    
.colunas-exp-container {
      flex-direction: column;
    }
          
/* .coluna-exp {
      flex-basis: 100%;
    }
          
.experiencia,
.experiencia2 {
      flex-direction: column;
      align-items: center;
    }
          
.experiencia img,
.experiencia2 img {
    align-items: center;
    width: 30vw;
    margin-bottom: 10px;
    margin-right: 45px;
    } */
    
.coluna-exp .experiencia{
  justify-content:center;
  flex-direction: column;
  
  
  

}

.coluna-exp .experiencia img {
  height: 20vw;
  width: 20vw; 
  margin-right: 100px;
}

.coluna-exp .experiencia2{
  justify-content:center;
  flex-direction: column;
  
  

}

.coluna-exp .experiencia2 img {
  height: 20vw;
  width: 20vw; 
  margin-right: 100px;
}
      
    
.divider {
      border-top: 0px solid rgb(26, 10, 18); 
      
    }
        
.divider2 {
      border-top: 0px solid rgb(26, 10, 18); 
    }

.projeto {
      flex-direction: column;
  }

.projeto2 {
    flex-direction: column;
}

.projeto img {
  width: 55vw;
  height: 30vw;
}

.projeto2 img {
  width: 55vw;
  height: 30vw;
}

.texto-esquerda-sobre {
  color:rgb(59, 31, 45);
  font-size: 25px;
  text-align: justify;
  width: 90vw;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
   
  
   
    }

.img-baixo img {
    width: 100%;
    height:30vw;
    margin-left: 30px;
    
    
    border-radius: 2%;
  }


  }


  
    }
@media screen and (max-width: 400px) {
  h1 {
      font-size: 30px;
      text-align: center;
    }
.texto-esquerda {
      font-size: 25px;
      text-align: left;
      width: 70vw;
      margin-top: -70px;
      margin-left: 50px;
    }
  

.coluna {
      flex-direction: column;
      align-items: flex-start;
    }
        
  .img-esq{
      width: 70VW;
      /* margin-left: 20px; */
      margin-right: 9px;
      margin-bottom: 10px;
    } 
  .texto-direita {
      font-size: 25px;
      text-align: center;
      width: 85vw;
    }
    
  .texto-direita-sobre {
      font-size: 25px;
      text-align: center;
      width: 85vw;
    }
    
  .img-eu{
      margin-left: 115px;
      width: 70vw;
      /* margin-bottom: 10px; */
    } 
    
  .colunas-exp-container {
      flex-direction: column;
    }
          
  .coluna-exp {
      flex-basis: 100%;
    }
          
  .experiencia,
  .experiencia2 {
      flex-direction: column;
      align-items: center;
    }
          
    .experiencia img,
    .experiencia2 img {
        align-items: center;
        width: 30vw;
        margin-bottom: 10px;
        margin-right: 40px;
        }
    
  .divider {
      border-top: 0px solid rgb(26, 10, 18); 
    }
        
  .divider2 {
      border-top: 0px solid rgb(26, 10, 18); 
    }

  .projeto {
      flex-direction: column;
  
  }

  .projeto2 {
    flex-direction: column;
}  

.img-baixo img {
  width: 100%;
  height:30vw;
  margin-left: 30px;
  
  
  border-radius: 2%;
}

}



  

    
    


   
     
      