acres==0.5.0
alembic==1.15.2
annotated-types==0.7.0
anyio==3.6.2
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.8.1
asttokens==2.2.1
async-generator==1.10
attrs==22.2.0
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==6.2.0
blinker==1.9.0
bs4==0.0.1
cachetools==5.5.2
certifi==2025.1.31
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.4.1
ci-info==0.3.0
click==8.1.8
cmdstanpy==1.2.5
colorama==0.4.6
colorlog==6.9.0
comm==0.1.3
configobj==5.0.9
configparser==7.2.0
contourpy==1.0.7
cryptography==44.0.3
cssselect==1.2.0
cycler==0.11.0
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
Django==5.1.7
django-cors-headers==4.7.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.0
docopt==0.6.2
drf-yasg==1.21.10
et_xmlfile==2.0.0
etelemetry==0.3.1
exceptiongroup==1.1.1
executing==1.2.0
fake-useragent==1.1.3
fastjsonschema==2.16.3
filelock==3.18.0
fitz==0.0.1.dev2
Flask==2.2.2
flask-cors==5.0.1
Flask-Mail==0.10.0
fonttools==4.39.2
fqdn==1.5.1
google-ai-generativelanguage==0.6.15
google-api-core==2.25.0rc0
google-api-python-client==2.168.0
google-auth==2.39.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.5
googleapis-common-protos==1.70.0
greenlet==3.2.2
grpcio==1.72.0
grpcio-status==1.71.0
h11==0.14.0
holidays==0.72
httplib2==0.22.0
idna==3.10
importlib-metadata==6.1.0
importlib_resources==6.5.2
inflection==0.5.1
ipykernel==6.22.0
ipython==8.12.3
ipython-genutils==0.2.0
ipywidgets==8.0.5
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.18.2
Jinja2==3.1.2
joblib==1.4.2
jsonpointer==2.3
jsonschema==4.17.3
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter_client==8.1.0
jupyter_core==5.3.0
jupyter_server==2.5.0
jupyter_server_terminals==0.4.4
jupyterlab-widgets==3.0.6
jupyterlab_pygments==0.3.0
kiwisolver==1.4.4
llvmlite==0.44.0
looseversion==1.3.0
lxml==5.4.0
Mako==1.3.10
markdown-it-py==3.0.0
MarkupSafe==2.1.2
matplotlib==3.10.3
matplotlib-inline==0.1.6
mdurl==0.1.2
MechanicalSoup==1.2.0
mistune==3.1.3
nbclassic==0.5.3
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.8.0
nest-asyncio==1.5.6
networkx==3.5
nibabel==5.3.2
nipype==1.10.0
nltk==3.9.1
notebook==6.5.3
notebook_shim==0.2.2
numba==0.61.2
numpy==2.2.5
oauthlib==3.2.2
openpyxl==3.1.5
optuna==4.3.0
outcome==1.2.0
packaging==23.0
pandas==2.2.3
pandocfilters==1.5.1
parse==1.19.0
parso==0.8.3
pathlib==1.0.1
pdfminer.six==20200517
pdfplumber==0.5.28
pickleshare==0.7.5
Pillow==9.4.0
pipreqs==0.5.0
platformdirs==3.1.1
ply==3.11
prettytable==3.16.0
prometheus-client==0.16.0
prompt-toolkit==3.0.38
prophet==1.1.6
proto-plus==1.26.1
protobuf==5.29.4
prov==2.0.1
psutil==5.9.4
psycopg2==2.9.10
pure-eval==0.2.2
puremagic==1.29
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.21
pycryptodome==3.22.0
pydantic==2.11.3
pydantic_core==2.33.1
pydot==4.0.0
pyee==8.2.2
Pygments==2.14.0
PyJWT==2.9.0
pyparsing==3.2.3
pyppeteer==1.0.2
pyquery==2.0.0
pyrsistent==0.19.3
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-json-logger==2.0.7
pytz==2025.2
pywin32==305
pywinpty==2.0.10
pyxnat==1.6.3
PyYAML==6.0
pyzmq==25.0.2
qtconsole==5.4.1
QtPy==2.3.0
rdflib==6.3.2
redis==4.5.3
regex==2024.11.6
requests==2.32.3
requests-html==0.10.0
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==14.0.0
rsa==4.9.1
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
selenium==4.8.3
Send2Trash==1.8.0
simplejson==3.20.1
six==1.17.0
skforecast==0.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4
SQLAlchemy==2.0.40
sqlparse==0.5.3
stack-data==0.6.2
stanio==0.5.1
tabulate==0.9.0
terminado==0.17.1
threadpoolctl==3.6.0
tinycss2==1.4.0
tornado==6.2
tqdm==4.67.1
traitlets==5.9.0
traits==7.0.2
trio==0.22.0
trio-websocket==0.10.2
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.1
uri-template==1.2.0
uritemplate==4.1.1
urllib3==2.4.0
vue==0.0.1
w3lib==2.1.1
Wand==0.6.13
watchdog==6.0.0
wcwidth==0.2.6
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.1
websockets==10.4
Werkzeug==2.2.3
widgetsnbextension==4.0.6
wsproto==1.2.0
yarg==0.1.9
zipp==3.15.0
